<h1> Login Page</h1>
<form action="/api/login" method="POST">
    <input type="text" id="login" name="login">
    <input type="password" id="password" name="password">
    <input type="submit" value="Login" />
</form>
<a href="/">Main page</a>
<a href="/api/register">Register page</a>