<h1> Register Page</h1>
<form action="/api/register" method="POST">
    <input required type="text" id="login" name="login">
    <input required type="password" id="password" name="password">
    <input type="submit" value="Register" />
</form>
<a href="/">Main page</a>
<a href="/api/login">Login page</a>